In [1]:
import pandas as pd

In [2]:
fake = pd.read_csv('fake.csv', low_memory=False)

In [3]:
real = pd.read_csv('real.csv')

In [4]:
real.dropna()

,Unnamed: 0,id,text,author_id,created_at,news_id
0,6,4.514162e+17,14 am pm moot court room udc law symposium re...,2.011575e+07,2014-04-02T17:49:39.000Z,politifact8995
1,7,9.213275e+17,14 did you say gstephanopoulos abc this week ...,1.389327e+08,2017-10-20T10:49:18.000Z,politifact7888
2,8,6.554198e+17,15 sen pat toomey rpa delivers weekly republi...,2.581112e+08,2015-10-17T16:27:13.000Z,politifact2758
3,10,6.553695e+17,15 sen pat toomey rpa delivers weekly republi...,1.295796e+09,2015-10-17T13:07:17.000Z,politifact2758
4,11,1.008866e+18,2009former maryland lt governor michael steel...,4.825717e+09,2018-06-19T00:16:59.000Z,politifact1216
...,...,...,...,...,...,...
196969,205910,1.004703e+18,zweiter teil der reise zu neuen horizonten beg...,1.038748e+08,2018-06-07T12:32:38.000Z,politifact11294
196970,205911,1.060765e+18,zyahnab was there many from indivisible charlo...,3.478607e+08,2018-11-09T05:22:45.000Z,politifact11399
196971,205912,1.011694e+18,zzbluecomet foxnews shepnewsteam he should be ...,8.193621e+17,2018-06-26T19:33:23.000Z,politifact8085
196972,205913,1.057270e+18,zzventure neilcybart maybe it is like state of...,7.806705e+07,2018-10-30T13:54:38.000Z,politifact7390
196973,205914,1.194178e+17,zzzzzzzz rudy giuliani still apparently sees t...,2.764432e+07,2011-09-29T14:26:27.000Z,politifact215

In [5]:
real = real.fillna(0)
real.author_id.astype(int)
unique_authors_real = len(real.author_id.unique())

In [6]:
fake = fake.fillna(0)
unique_authors_fake = len(fake.author_id.unique())

In [7]:
unique_authors_fake + unique_authors_real

188009

In [8]:
fake.head(1)

,Unnamed: 0,Unnamed: 0.1,created_at,text,author_id,id,news_id,withheld
0,0,0,2017-10-03T15:48:10.000Z,"Oh, Gays for Trump. Calling on Gays for Trump!...",42013288,9.152421e+17,politifact15371,0

In [9]:
column_values = real[["news_id", "created_at"]].values.ravel()
unique_values =  pd.unique(column_values)
print(len(unique_values), ' tweets on real news')
column_values = fake[["news_id", "created_at"]].values.ravel()
unique_values =  pd.unique(column_values)
print(len(unique_values), ' tweets on fake news')

191282  tweets on real news
69129  tweets on fake news

In [10]:
len(real.author_id.unique())

139644